	@font-face {
	  font-family: "poppins-bold";
	  src: url('../Fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
	    url('../Fonts/Poppins/Poppins-Bold.woff') format('woff');
	  font-weight: bold;
	  font-style: normal;
	}

	@font-face {
	  font-family: "poppins-extrabold";
	  src: url('../Fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
	    url('../Fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
	  font-weight: bold;
	  font-style: normal;
	}

	@font-face {
	  font-family: "poppins";
	  src: url('../Fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
	    url('../Fonts/Poppins/Poppins-Regular.woff') format('woff');
	  font-weight: bold;
	  font-style: normal;
	}

	@font-face {
	  font-family: "Fira";
	  src: url('../Fonts/Fira/Fira Code Bold.woff2') format('woff2'),
	    url('../Fonts/Fira/Fira Code Bold.woff') format('woff');
	  font-weight: bold;
	  font-style: normal;
	}

	body {
	  background-color: hsl(0, 0%, 13%);
	  color: white;
	  max-width: 66rem;
	  padding-left: 1rem;
	  padding-right: 1rem;
	  margin: auto;
	  background-image: url(../images/background.jpg);
	  background-size: cover;
	  border-top-left-radius: 2rem;
	  border-top-right-radius: 2rem;
	}

	nav {
	  margin: -1rem;
	  border-radius: 0.5rem;
	}

	nav a {
	  text-decoration: none;
	  color: white;
	  font-family: poppins-bold;
	}

	nav a:hover {
	  color: hsl(344, 81%, 51%);
	}

	button {
	  background-color: hsl(344, 81%, 51%);
	  border: none;
	  padding: 0.5rem;
	  border-radius: 0.5rem;
	  text-decoration: none;
	  color: white;
	  font-family: poppins-bold;
	}

	nav button:hover {
	  cursor: pointer;
	}

	header {
	  display: flex;
	  margin-top: 5rem;
	  margin-bottom: 5rem;
	  justify-content: space-between;
	  flex-wrap: wrap-reverse;
	}

	header img {
	  border-radius: 2.5rem;
    margin-right: 5rem;
	  max-height: 20rem;
	  max-width: 20rem;
	  box-shadow: 5px 10px hsl(0, 0%, 9%);
	}

	.intro {
	  width: 25rem;
	  height: 20rem;
	  margin-top: 3rem;
	  font-family: poppins-bold;
	}

	.hello {
	  border: solid 0.5rem hsl(344, 81%, 51%);
	  background-color: hsl(344, 81%, 51%);
	  border-radius: 0.5rem;
	}

	.intro h1 {
	  font-family: Fira;
	}

	.intro p {
	  font-family: poppins;
	}

	.intro p span {
	  font-family: poppins-extrabold;
	  color: hsl(344, 81%, 51%);
	}


	nav ul {
	  list-style: none;
	  display: flex;
	  justify-content: end;
	}

	@media (max-width: 630px) {
	  nav ul {
	    justify-content: center;
	    flex-direction: column;
      text-align: center;
	  }
	}

	nav li {
	  padding: 2rem;
	}

	h2 {
	  text-decoration: underline;
	  font-family: poppins-extrabold;
	}

	.about {
	  margin-bottom: 5rem;
	}

	.about h2 {
	  margin-bottom: 0.5rem;
	}

	.about p {
	  font-family: poppins;
	  max-width: 30rem;
	}

	.about span {
	  color: hsl(344, 81%, 51%);
	  font-family: Fira;
	}

	.about-flex {
	  display: flex;
	  flex-direction: column;
	}

	.about .left {
	  margin-top: 2rem;
	  margin-bottom: 1rem;
	}

	.about .right {
	  align-self: last baseline;
	}

	.skills {
	  background-color: white;
	  border-radius: 0.5rem;
	  color: hsl(0, 0%, 13%);
	  box-shadow: 5px 10px hsl(0, 0%, 9%);
	}

	.skills h2 {
	  padding-top: 1rem;
	  padding-left: 1rem;
	  margin-bottom: 2rem;
	}

	.skills ul {
	  display: flex;
	  list-style: none;
	  justify-content: space-around;
	  margin: auto;
	  padding-left: 0rem;
	  padding-bottom: 2.5rem;
	  flex-wrap: wrap;
	}

	.skills li {
	  display: flex;
	  flex-direction: column;
	  text-align: center;
	  font-family: Fira;
	  margin: 1rem;
	}

	.skills img {
	  width: 6rem;
	  margin-bottom: 1rem;
	}

	.balk {
	  margin-top: 1rem;
	  border: solid black 2px;
	  height: 1rem;
	  border-radius: 0.3rem;
	  overflow: hidden;
	}

	.inner-balk0 {
	  background: rgb(0, 0, 0);
	  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 6%, rgba(231, 29, 83, 1) 100%);
	  border-radius: 0.3rem;
	  position: relative;
	  height: 100%;
	  overflow: hidden;
	  margin-top: -0.1rem;
	  padding-bottom: 0.3rem;
	  width: 5rem;
	}

	.inner-balk1 {
	  background: rgb(0, 0, 0);
	  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 6%, rgba(231, 29, 83, 1) 100%);
	  border-radius: 0.3rem;
	  position: relative;
	  height: 100%;
	  overflow: hidden;
	  margin-top: -0.1rem;
	  padding-bottom: 0.3rem;
	  width: 4.5rem;
	}

	.inner-balk2 {
	  background: rgb(0, 0, 0);
	  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 6%, rgba(231, 29, 83, 1) 100%);
	  border-radius: 0.3rem;
	  position: relative;
	  height: 100%;
	  overflow: hidden;
	  margin-top: -0.1rem;
	  padding-bottom: 0.3rem;
	  width: 4rem;
	}

	.inner-balk3 {
	  background: rgb(0, 0, 0);
	  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 6%, rgba(231, 29, 83, 1) 100%);
	  border-radius: 0.3rem;
	  position: relative;
	  height: 100%;
	  overflow: hidden;
	  margin-top: -0.1rem;
	  padding-bottom: 0.3rem;
	  width: 5.5rem;
	}

	.inner-balk4 {
	  background: rgb(0, 0, 0);
	  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 6%, rgba(231, 29, 83, 1) 100%);
	  border-radius: 0.3rem;
	  position: relative;
	  height: 100%;
	  overflow: hidden;
	  margin-top: -0.1rem;
	  padding-bottom: 0.3rem;
	  width: 5rem;
	}

	.diensten {
	  margin-top: 5rem;
	}

	.diensten p {
	  font-family: poppins;
	  max-width: 30rem;
	}

	.diensten .first {
	  margin-bottom: 2rem;
	  margin-top: 2rem;
	}

	.diensten-flex {
	  display: flex;
	  flex-direction: column;
	}

	.button-dienst {
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap-reverse;
	}

	.button-dienst a {
	  align-self: center;
	  margin-left: 10rem;
	}

	.button-dienst a button {
	  width: 10rem;
	  height: 3rem;
	  font-size: medium;
	  cursor: pointer;
	}

	@media (max-width: 1000px) {
	  .button-dienst a {
	    margin-left: 5rem;
	  }
	}

	@media (max-width: 768px) {
	  .button-dienst a {
	    margin-top: 2rem;
	  }
	}

	footer {
	  padding-top: 5rem;
	  margin: 2rem;
	}

	footer img {
	  max-width: 2.5rem;
	}

	footer ul {
	  list-style: none;
	  display: flex;
	  justify-content: space-around;
	  margin-bottom: 3rem;
	}

	footer ul li {
	  flex: 1;
	}

	footer span {
	  font-family: Fira;
	  display: flex;
	  justify-content: center;
	}